* 
{
	font-family: Trebuchet MS;
	margin: 0;
	padding: 0;
}

body
{
	/* background-color: rgb(66,67,62);*/
	background-image:  url(fondL.jpg);
	background-attachment: fixed;
	color: #B0B0B0;
}
body header h2
{
	width : 150 px;
	font-size : 30px;
	text-align: center ;

}
body main nav 
{
	float: center ;
}
body main nav li a
{
	text-decoration: none ;
	color: white ; 
	text-transform: uppercase;
	font-weight : bold;
}

body main
 {
 	/*background-color: rgb(40,41,35);*/
 	background-color: black;
 	margin-top: 80px;
 	margin-right: 300px;
 	margin-left: 300px;
	text-align: center;
	border: 2px solid black;
	box-shadow: 2px 2px 2px 2px ;

	
 }
 main : after
{
	display : block;
	content :"";
	clear : both;
}

body main nav li 
{
	list-style: none;
	float : center;
	margin-left: 20px;
}

body main nav li a
{
	text-decoration: none ;
	color: #B0B0B0 ; 
	text-transform: uppercase;
	font-weight : bold;
}

header
{
    /*background-color:#181F5E*/;
    padding: 20px ;
}



h1
{
	text-align: center;
}


