* {
	margin: 0;
	padding: 0;
}
body
{ 
    color: #B0B0B0;
	background-color: #464748;
}

header
{
    background-color:#181F5E;
}

h1
{
	text-align: center;
}

.nomsite
{
    text-align: center;
    margin-left: 5px;
}

.bouton_connexion
{
    text-align: right;
    margin-left: 5px;
}